html,
body {
    height: 100%;
    background-image: url(../images/memphis-mini.png);
    margin: 0;
}

header {
    background:#ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 1px;
}


ul {
    list-style-type: none;
    margin-right: 90px;
    margin-bottom: 80px;
}

li {
    color: #777777;
    padding: 10px;
    float: right;
    }

a:link, 
a:visited {
    color: #777777;
}

a:active {
    color: #777777;
    background: #4aaaa5;
}

#middle {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 0 20px;
}

h1 {
    margin-left: 100px;
    margin-top: 0;
    padding: 22px 20px;
    float: left;
    color: white;
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}

.main{
    clear: both;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color:#ffffff;
    padding: 0 20px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    border: 2px solid #dddddd;
    box-sizing: border-box;
    color: #777777; 
}

h2 {
    border-bottom: 2px solid #ccc;
    color: #4aaaa5;
    padding: 20px 0px;
    font-family: Georgia, Times, Times New Roman, serif;
}

.headshot {
    float: left;
    padding-right: 10px;
    height: 300px;
    width: 200px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    clear: both;
    text-align: center;
    background: #666666;
    bottom: 0;
    width: 100%;
    padding: 20px 0 10px;
    color: #ccc;
    border-top: 8px solid #4aaaa5;
}

.photo {
    position: relative;
    padding: 10px;
}

.hangman,
.rpg,
.trivia,
.widget,
.rock {
    height: 200px;
    width: 250px;
}

h3 {
    position: absolute;
    color: white;
    background: #4aaaa5;
    left: 10px;
    z-index: 5;
    bottom: 10px;
    width: 250px;
    text-align: center;
    padding: 10px 0;
}

.column1,
.column2 {
    display: flex;
    flex-direction: row;
}
  .text {
    width: 95%;  
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
     }

.message {
    height: 200px;
}
  #submit {
    background: #4aaaa5;
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
 